body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#mainHeader {
  height: fit-content;
  width: 100%;

  display: inline-flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

/* .logo {
    height:auto;
    width:80%;

    background-image: url(..\images\free-logo-4uaybh6mnt-45xqerubdj.jpg);
} */
.galleryButtons {
  display:flex;
  justify-content: space-between;

}
.buttonGallery {
  display:inline-block;
  border:0.15em solid  rgb(90, 25, 81);
  border-radius:0.12em;
  box-sizing: border-box;
  width: 100px;

  text-decoration:none;
  font-size: 15px;
  font-weight:bold;
  color: rgb(255, 255, 255);
  text-align:center;
  transition: all 0.2s;
  background-color: rgb(25, 25, 90);
}

.buttonGallery:hover{
  color:rgb(252, 250, 251);
  background-color:rgb(144, 144, 199);
  opacity: 0.9;
}

a {
    color: black;
    text-decoration: none;
}

#mainHeader a:hover {
    color: rgb(238, 61, 105);
    font-weight: bolder;
    text-decoration: underline;
}

#galleryWrapper {
  height: fit-content;
  width: 100%;

  display:flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(44, 44, 44);
}

.titleHeader {
    padding: 30px;
    width:100%;

    text-align: center;
    font-size: 15px;
    background-color: rgb(25, 25, 90);
    color:white;
}

#gallery {
    display: block;
    max-height: 700px;
    max-width: 1000px;
    width: auto;
    height: auto;
   
}

#galleryBanner {
    height:fit-content;
    width: 100%;

    display:flex;
    align-content: center;
    justify-content: center;

    position:absolute;
    top:810px;


    background-color:rgb(231, 228, 228);
    opacity:0.8;
}

#galleryBanner:hover {
  color: rgb(238, 61, 105);
  font-weight: bolder;
  text-decoration: underline;
  /* animation: bannerAnim 1s; */
}

#galleryBanner a:hover {
  color: rgb(238, 61, 105);
}

#postWrapper {
    margin-top: 40px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#mainFooter {
    height: fit-content;
    width: 100%;

    display: flex;
    /* flex-direction: column; */
    justify-content: space-evenly;
    align-items: center;
}

/* social media buttons */
 .fa {
    padding: 10px;
    font-size: 15px;
    width: 15px;
    text-align: center;
    text-decoration: none;
  }
  .fa:hover {
    opacity: 0.7;
  }
  .fa-facebook {
    background: rgb(25, 25, 90);
    color: white;
  }
  .fa-twitter {
    background: rgb(25, 25, 90);
    color: white;
  } 
  .fa-instagram {
    background: rgb(25, 25, 90);
    color: white;
  } 
  .fa-youtube {
    background: rgb(25, 25, 90);
    color: white;
  } 
  .fa-pinterest {
    background: rgb(25, 25, 90);
    color: white;
  } 

  /* CONTACT PAGE */
  
  .modern-form {
    width: 500px;
    margin: 30px auto;
    background-color:  #fff;
    border: solid 1px #ccc;
    padding: 20px 10px;
  }
  
  .modern-form h3 {
    text-align: center;
  }
  
  .float-label-field {
    border: none;
    outline: none;
    position: relative;
    margin: 0 0 20px 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .float-label-field input {
    border: none;
    outline: none;
    padding: 5px 5px 8px 0px;
    width: 100%;
    font-size: 18px;
    border-bottom: solid 1px #efefef;
  }
  
  .float-label-field label {
    opacity: 0.5;
    position: absolute;
    top: 10px;
    left: 0px;
    transition: all 0.2s ease;
    font-size: 18px;
  }
  
  .float-label-field.focus label {
    color: orange;
  }
  .float-label-field.focus input {
    border-bottom: solid 1px orange;
  }
  .float-label-field.float label {
    opacity: 1;
    top: -8px;
    font-size: 60%;
    transition: all 0.2s ease;
    font-weight: bold;
  }